{% extends "base.html"%}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'challenges/partials/header.css' %}">
<link rel="stylesheet" href="{% static 'challenges/challenge.css' %}">
{% endblock %}

{% block title %}{{ month_name|title }} Challenge{% endblock %}

{% block content %}
    {% include "challenges/partials/header.html" %}
    <!-- the 'title' filter capitalizes the first letter of each word -->
    <h1>{{ month_name|title }} Challenge</h1> 
    {% if text is not None %}
        <h2>{{ text }}</h2>
    {% else %}
        <p class="fallback">No challenge for this month.</p>
    {% endif %}
{% endblock %}